<div class="layout-container">

    <!-- Sidebar -->
    <aside [ngClass]="isSidebarExpanded ? 'sidebar-expanded' : 'sidebar-collapsed'">

        <!-- Header -->
        <div class="sidebar-header">

            <div class="brand">
                <div class="brand-icon">
                    H
                </div>

                <span class="brand-text">
                    Clinic
                </span>
            </div>

            <!-- Toggle button -->
            <button type="button" class="btn toggle-btn" (click)="togglesidebar()">

                <i class="bi bi-list"></i>

            </button>

        </div>

        <hr>


        <!-- Navigation -->
        <nav class="sidebar-menu">
            @for(menuItem of menuItemList; track $index){
            <a [routerLink]="menuItem.router" routerLinkActive="active" class="nav-item">
                <i class="{{menuItem.icon}}"></i>
                <span>{{menuItem.title}}</span>
            </a>
            }
        </nav>


        <!-- User -->
        <div class="user-section">

            <!-- User information -->
            <div class="user">

                <div class="user-avatar">
                    <i class="bi bi-person-fill"></i>
                </div>

                <span class="username">{{loggedUserData?.fullName}}
                </span>
                <span class="role">{{loggedUserData?.roleName}}
                </span>

                <i class="bi bi-caret-down-fill dropdown-icon"></i>

            </div>


            <!-- Logout button -->
            <button type="button" class="btn logout-btn" (click)="onLogoff()">

                <i class="bi bi-box-arrow-right"></i>

                <span class="logout-text">
                    Logout
                </span>

            </button>

        </div>

    </aside>


    <!-- Content -->
    <div [ngClass]="isSidebarExpanded ? 'content-expanded' : 'content-collapsed'">
        <router-outlet></router-outlet>
    </div>

</div>